#--------------------------------------------------------------------
# Git Ignore file
#--------------------------------------------------------------------

# Logs
logs/*
*.log

# OS files & folders
.DS_Store

# IDE files & folders
.idea/
.vscode/
.run

# Composer files & folders
vendor/
composer.lock